<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="0" name="TestNG" preserve-order="false" parallel="tests" thread-count="2" >
	 <test name="Instructor Create Class Test" preserve-order="true">
		<classes>
			<class name="com.qait.demo.automation.tests.demo_UAT_Automation_Demo_LoginPage_Test"></class>
		</classes>
	</test>
</suite>
